.main-banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("/banner-dog.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 60px;
}

/* Полупрозрачный шар поверх картинки */
.main-banner__overlay {
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Текст и кнопка */
.main-banner__content {
  text-align: left;
  color: #fff;
  max-width: 800px;
  padding: 0 40px;
  line-height: 1.1;
}

.main-banner__content h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
}

/* Кнопка */
.main-banner__button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding: 14px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-banner__button:hover {
  background-color: #0046f7;
  ;
  transform: scale(1.05);
}